.Square{
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.tab-title{
  font-size: 22px;
  line-height: 36px;
}

.tab-box{
  display: flex;
  flex-direction: column;
}
.tab-row{
  display: flex;
}